.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.featureditem{
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 15px -10px #000000; 
    box-shadow: 0px 0px 15px -10px 
    #000000;
}
.featuredtitle{
    font-size: 20px;
}
.featuredmoneycontainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredmoney{
    font-size: 30px;
    font-weight: 600;
}
.featuredmoneyrate{
    display: flex;
    align-items: center;
    margin-left: 20px; 
}
.safis {
    color: red;
    font-size: -10px;
   
}
.safi {
    color: green;
    font-size: 30px;
    margin-left: 5px;
}